server {
	listen 80;
	server_name _;

	return 403;
}

server {
	listen 80;
	server_name {{ domain }};

	return 301 https://$host$request_uri;
}

server {
	listen 443;
	server_name {{ domain }};
	ssl on;
	ssl_certificate /etc/nginx/{{ domain }}.crt;
	ssl_certificate_key /etc/nginx/{{ domain }}.key;
	ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;

	location {{ wp_uri }} {
		proxy_set_header X-Real-IP  $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header Host $server_name;
		proxy_pass http://{{ wp_name }}/;
	}
	location {{ pma_uri }} {
		return 301 /adminator/;
	}
	location {{ pma_uri }}/ {
		proxy_set_header X-Real-IP  $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header Host $server_name;
		proxy_pass http://{{ pma_name }}/;
	}
}